<h1>
  Add a new internet quality
</h1>


<hr>

<!-- Form internet_quality start -->
<form action="/create_internet_quality" method="post">
<!-- Form internet_quality end -->

  <!-- Label and input for quality start -->
  <div class="form-group">
    <label for="quality">
      Quality
    </label>

    <!-- Input for quality start -->
    <input type="text" id="quality" name="quality" class="form-control">
    <!-- Input for quality end -->
  </div>
  <!-- Label and input for quality end -->

  <button class="btn btn-block btn-outline-secondary">
    Create internet quality
  </button>
</form>

<hr>

<a href="/internet_qualities">
  Go back
</a>
