<h1>
  Add a new internet quality
</h1>


<hr>

<form action="/create_internet_quality" method="post">

  <div class="form-group">
    <label for="quality">
      Quality
    </label>

    <input type="text" id="quality" name="quality" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create internet quality
  </button>
</form>

<hr>

<a href="/internet_qualities">
  Go back
</a>
