<form action="/create_location_from_address" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @location.name %>">
  </div>

  <input type="hidden" name="address_id" value="<%= @address.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create location
  </button>
</form>
