<h1>
  Add a new address
</h1>


<hr>

<!-- Form address start -->
<form action="/create_address" method="post">
<!-- Form address end -->

  <!-- Label and input for street_number start -->
  <div class="form-group">
    <label for="street_number">
      Street number
    </label>

    <!-- Input for street_number start -->
    <input type="text" id="street_number" name="street_number" class="form-control">
    <!-- Input for street_number end -->
  </div>
  <!-- Label and input for street_number end -->

  <!-- Label and input for street start -->
  <div class="form-group">
    <label for="street">
      Street
    </label>

    <!-- Input for street start -->
    <input type="text" id="street" name="street" class="form-control">
    <!-- Input for street end -->
  </div>
  <!-- Label and input for street end -->

  <!-- Label and input for city start -->
  <div class="form-group">
    <label for="city">
      City
    </label>

    <!-- Input for city start -->
    <input type="text" id="city" name="city" class="form-control">
    <!-- Input for city end -->
  </div>
  <!-- Label and input for city end -->

  <!-- Label and input for postal_code start -->
  <div class="form-group">
    <label for="postal_code">
      Postal code
    </label>

    <!-- Input for postal_code start -->
    <input type="text" id="postal_code" name="postal_code" class="form-control">
    <!-- Input for postal_code end -->
  </div>
  <!-- Label and input for postal_code end -->

  <!-- Label and input for state start -->
  <div class="form-group">
    <label for="state">
      State
    </label>

    <!-- Input for state start -->
    <input type="text" id="state" name="state" class="form-control">
    <!-- Input for state end -->
  </div>
  <!-- Label and input for state end -->

  <!-- Label and input for country start -->
  <div class="form-group">
    <label for="country">
      Country
    </label>

    <!-- Input for country start -->
    <input type="text" id="country" name="country" class="form-control">
    <!-- Input for country end -->
  </div>
  <!-- Label and input for country end -->

  <button class="btn btn-block btn-outline-secondary">
    Create address
  </button>
</form>

<hr>

<a href="/addresses">
  Go back
</a>
