<h1>
  Add a new plug availability
</h1>


<hr>

<form action="/create_plug_availability" method="post">

  <div class="form-group">
    <label for="availability">
      Availability
    </label>

    <input type="text" id="availability" name="availability" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create plug availability
  </button>
</form>

<hr>

<a href="/plug_availabilities">
  Go back
</a>
