<% if @noise_level.errors.any? %>
  <% @noise_level.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit noise level #<%= @noise_level.id %>
</h1>

<hr>

<form action="/update_noise_level/<%= @noise_level.id %>" method="post">

  <div class="form-group">
    <label for="level">
      Level
    </label>

    <input type="text" id="level" name="level" class="form-control" value="<%= @noise_level.level %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update noise level
  </button>
</form>

<hr>

<a href="/noise_levels">
  Go back
</a>
