<h1>
  Add a new noise level
</h1>


<hr>

<!-- Form noise_level start -->
<form action="/create_noise_level" method="post">
<!-- Form noise_level end -->

  <!-- Label and input for level start -->
  <div class="form-group">
    <label for="level">
      Level
    </label>

    <!-- Input for level start -->
    <input type="text" id="level" name="level" class="form-control">
    <!-- Input for level end -->
  </div>
  <!-- Label and input for level end -->

  <button class="btn btn-block btn-outline-secondary">
    Create noise level
  </button>
</form>

<hr>

<a href="/noise_levels">
  Go back
</a>
