<h1>
  Add a new noise level
</h1>


<hr>

<form action="/create_noise_level" method="post">

  <div class="form-group">
    <label for="level">
      Level
    </label>

    <input type="text" id="level" name="level" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create noise level
  </button>
</form>

<hr>

<a href="/noise_levels">
  Go back
</a>
