<!-- Form bookmark start -->
<form action="/create_bookmark_from_category" method="post">
<!-- Form bookmark end -->

  <!-- Label and input for study_location_id start -->
  <div class="form-group">
    <label for="study_location_id">
      Study location
    </label>

    <!-- Input for study_location_id start -->
    <%= select_tag(:study_location_id, options_from_collection_for_select(StudyLocationDetail.all, :id, :created_at, @bookmark.study_location_id), :class => "form-control") %>
    <!-- Input for study_location_id end -->
  </div>
  <!-- Label and input for study_location_id end -->

  <!-- Label and input for category_id start -->
  <!-- Input for category_id start -->
  <input type="hidden" name="category_id" value="<%= @category.id %>">
  <!-- Input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bookmark
  </button>
</form>
