<form action="/create_bookmark_from_category" method="post">

  <div class="form-group">
    <label for="study_location_id">
      Study location
    </label>

    <%= select_tag(:study_location_id, options_from_collection_for_select(StudyLocationDetail.all, :id, :created_at, @bookmark.study_location_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="category_id" value="<%= @category.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create bookmark
  </button>
</form>
