<!-- Validation failure messages -->
<% if @category.errors.any? %>
  <% @category.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit category #<%= @category.id %>
</h1>

<hr>

<!-- Form category start -->
<form action="/update_category/<%= @category.id %>" method="post">
<!-- Form category end -->

  <!-- Label and input for category start -->
  <div class="form-group">
    <label for="category">
      Category
    </label>

    <!-- Input for category start -->
    <input type="text" id="category" name="category" class="form-control" value="<%= @category.category %>">
    <!-- Input for category end -->
  </div>
  <!-- Label and input for category end -->

  <button class="btn btn-block btn-outline-secondary">
    Update category
  </button>
</form>

<hr>

<a href="/categories">
  Go back
</a>
