<h1>
  Add a new category
</h1>


<hr>

<form action="/create_category" method="post">

  <div class="form-group">
    <label for="category">
      Category
    </label>

    <input type="text" id="category" name="category" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create category
  </button>
</form>

<hr>

<a href="/categories">
  Go back
</a>
