<h1>
  Edit ambience #<%= @ambience.id %>
</h1>

<hr>

<!-- Form ambience start -->
<form action="/update_ambience/<%= @ambience.id %>" method="post">
<!-- Form ambience end -->

  <!-- Label and input for description start -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <!-- Input for description start -->
    <input type="text" id="description" name="description" class="form-control" value="<%= @ambience.description %>">
    <!-- Input for description end -->
  </div>
  <!-- Label and input for description end -->

  <button class="btn btn-block btn-outline-secondary">
    Update ambience
  </button>
</form>

<hr>

<a href="/ambiences">
  Go back
</a>
