<% if @ambience.present? %>
  <% if @ambience.errors.any? %>
    <% @ambience.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new ambience
</h1>


<hr>

<form action="/create_ambience" method="post">

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <input type="text" id="description" name="description" class="form-control" value="<%= @ambience.description %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create ambience
  </button>
</form>

<hr>

<a href="/ambiences">
  Go back
</a>
