<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Favorites

    <a data-toggle="collapse" href="#study_location_detail_favorites_new_form">
      Add bookmark
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @study_location_detail.favorites.each do |bookmark| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/bookmarks/<%= bookmark.id %>">
          <%= bookmark.study_location_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_bookmark_from_study_location/<%= bookmark.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="study_location_detail_favorites_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "study_location_detail_templates/study_location_detail_favorites_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
