<!-- Form bookmark start -->
<form action="/create_bookmark_from_study_location_detail" method="post">
<!-- Form bookmark end -->

  <!-- Label and input for study_location_id start -->
  <!-- Input for study_location_id start -->
  <input type="hidden" name="study_location_id" value="<%= @study_location_detail.id %>">
  <!-- Input for study_location_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @bookmark.category_id %>">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bookmark
  </button>
</form>
