<h1>
  Add a new study location detail
</h1>


<hr>

<!-- Form study_location_detail start -->
<form action="/create_study_location_detail" method="post">
<!-- Form study_location_detail end -->

  <!-- Label and input for ambience_id start -->
  <div class="form-group">
    <label for="ambience_id">
      Ambience
    </label>

    <!-- Input for ambience_id start -->
    <%= select_tag(:ambience_id, options_from_collection_for_select(Ambience.all, :id, :description, @study_location_detail.ambience_id), :class => "form-control") %>
    <!-- Input for ambience_id end -->
  </div>
  <!-- Label and input for ambience_id end -->

  <!-- Label and input for noise_level_id start -->
  <div class="form-group">
    <label for="noise_level_id">
      Noise level
    </label>

    <!-- Input for noise_level_id start -->
    <input type="text" id="noise_level_id" name="noise_level_id" class="form-control">
    <!-- Input for noise_level_id end -->
  </div>
  <!-- Label and input for noise_level_id end -->

  <!-- Label and input for internet_quality_id start -->
  <div class="form-group">
    <label for="internet_quality_id">
      Internet quality
    </label>

    <!-- Input for internet_quality_id start -->
    <input type="text" id="internet_quality_id" name="internet_quality_id" class="form-control">
    <!-- Input for internet_quality_id end -->
  </div>
  <!-- Label and input for internet_quality_id end -->

  <!-- Label and input for plug_availability_id start -->
  <div class="form-group">
    <label for="plug_availability_id">
      Plug availability
    </label>

    <!-- Input for plug_availability_id start -->
    <input type="text" id="plug_availability_id" name="plug_availability_id" class="form-control">
    <!-- Input for plug_availability_id end -->
  </div>
  <!-- Label and input for plug_availability_id end -->

  <!-- Label and input for location_id start -->
  <div class="form-group">
    <label for="location_id">
      Location
    </label>

    <!-- Input for location_id start -->
    <input type="text" id="location_id" name="location_id" class="form-control">
    <!-- Input for location_id end -->
  </div>
  <!-- Label and input for location_id end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <!-- Input for user_id start -->
    <input type="text" id="user_id" name="user_id" class="form-control">
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create study location detail
  </button>
</form>

<hr>

<a href="/study_location_details">
  Go back
</a>
