<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Study Location Details

    <a data-toggle="collapse" href="#location_study_location_details_new_form">
      Add study location detail
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @location.study_location_details.each do |study_location_detail| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/study_location_details/<%= study_location_detail.id %>">
          <%= study_location_detail.created_at %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_study_location_detail_from_location/<%= study_location_detail.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="location_study_location_details_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
