<h1>
  Edit bookmark #<%= @bookmark.id %>
</h1>

<hr>

<!-- Form bookmark start -->
<form action="/update_bookmark/<%= @bookmark.id %>" method="post">
<!-- Form bookmark end -->

  <!-- Label and input for study_location_id start -->
  <div class="form-group">
    <label for="study_location_id">
      Study location
    </label>

    <!-- Input for study_location_id start -->
    <input type="text" id="study_location_id" name="study_location_id" class="form-control" value="<%= @bookmark.study_location_id %>">
    <!-- Input for study_location_id end -->
  </div>
  <!-- Label and input for study_location_id end -->

  <!-- Label and input for category_id start -->
  <div class="form-group">
    <label for="category_id">
      Category
    </label>

    <!-- Input for category_id start -->
    <input type="text" id="category_id" name="category_id" class="form-control" value="<%= @bookmark.category_id %>">
    <!-- Input for category_id end -->
  </div>
  <!-- Label and input for category_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Update bookmark
  </button>
</form>

<hr>

<a href="/bookmarks">
  Go back
</a>
